:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9800;
    --azul-degradee: linear-gradiente(97.54deg,#002f52 35.40% #326589 165.37%);
    --preto:#000000;
    --fonte-principal:"popins";
    --azul: #0010f7;
    --fonte-secundaria:"Josefin Sans";
    --cinza: #797979;
    --cinza-claro: #a39f9f;
}

.body{
    background-color: var(--cor-de-fundo);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
}